numpy>=1.21.3
pandas>=1.3.4
matplotlib>=3.4.3
altair==4.2.2
streamlit==1.19.0
streamlit_folium
streamlit-toggle-switch
streamlit-keplergl
seaborn
plotly
plotly_express
geopandas
mapclassify
rtree
folium
keplergl==0.3.0
geojson
